@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&family=Oswald:wght@300;400;700&family=Poppins:wght@100;200;400;500;700&family=Tiro+Devanagari+Hindi&display=swap');
* {
    color: var(--text-color);
    box-sizing: border-box; /* more intuitive way of setting sizes */
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif; 
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif; /* 400 800 */
    font-family: 'Oswald', sans-serif; /* 300, 400, 700 */
    font-family: 'Poppins', sans-serif; /* 100 200, 400, 500, 700 */
    font-family: 'Tiro Devanagari Hindi', serif; /* 400 */

}