/* This css file will be used to store the variables */

:root {
    /* palette */
    --palette-red: #e30a11;
    --palette-red-dark: #a51116;
    --palette-green: #f1faee;
    --palette-green-dark: #c2d0be;
    --palette-light-cyan: #a8dadc;
    --palette-soft-blue: #457b9d;
    --palette-blue: #1d3557;

    --text-color-dark: black;
    --text-color-light: seashell;

    --btn-background-color: var(--palette-soft-blue);
    --btn-background-hover-color: var(--palette-blue);
}   